.commonFooter {
    height: 100vh;
    padding-top: var(--size-header-height);
    border-top: 1px solid var(--color-support);
    background-color: var(--color-main);
    color: var(--color-accent);
}