.main {
    padding-top: 50px;

    .types {
        ul {
            display: flex;
            list-style: none;

            li:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
