.code {
    position: relative;
    display: block;
    white-space: pre-wrap;
    background-color: rgb(244, 252, 255);
    padding: 5px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 10px;
        border-left: 1px solid var(--color-main);
    }
}
