:root {
    --color-main: #000000;
    --color-accent: #FEFEFE;
    --color-background: #e8eceb;
    --color-support: #FDEE30;

    --color-main-rgb: 0, 0, 0;
    
    --color-main-transparent: rgba(45, 62, 78, 0.6);
}
